.my-pic {
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
}

.section {
    position: relative;
    top: 5px;
    width: 100%;
    height: 200vh;

    align-items: center;

    overflow: hidden;
}

.body-title {
    position: absolute;
    font-size: 150%;
    font-weight: bold;
    top: 10%;
    justify-content: center;
    color:#E0E0DD;
    text-align:center;
    line-height: 95%;
    padding: 25px;

}
.body-text {
    position: absolute;
    font-size: 120%;
    font-weight: normal;
    top: 15%;
    justify-content: justify;
    color:#E0E0DD;
    text-align:justify;
    line-height: 95%;
    padding: 15px;
}

.body-bg {
    background-color: darkblue;
}
.pic-caption {
    top: 10%;
    justify-content: center;
    color:#E0E0DD;
    text-align:center;
    line-height: 95%
}

.container-fluid {
    text-align: center;


    margin: 5px;
    z-index: 1;
    opacity: 2;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100vh;
    opacity: .70;

}
.parallax {
    /* The image used */
    background-image: url("videos/video-windmill.mp4" type="video/mp4");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.wrap-collabsible {
    position: relative;
    top: 10%;
    padding: 2px;
    width: 100%;
  }

input[type='checkbox'] {
    display: none;
  }

.lbl-toggle {
    display: block;

    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: left;

    padding: 1rem;

    color: white;
    background: gray;

    cursor: pointer;

    border-radius: 10px;
    transition: all 0.25s ease-out;
  }

.lbl-toggle:hover {
    color: white;
  }

.lbl-toggle:hover {
    color: white;
  }

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
  }

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }

.collapsible-content {
    max-height: 0px;
    overflow: hidden;

    transition: max-height .25s ease-in-out;
  }

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

.collapsible-content .content-inner {
    background: rgba(251, 255, 255, 1);
    border-bottom: 1px solid rgba(250, 224, 66, .45);

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  }

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: Blue;
    color: white;

}
.footer-relative {
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: Blue;
    color: white;

}
.footer-absolute {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: Blue;
    color: white;
}
